<template>
  <div class="container">
    <div class="parent">
      <ul id="print_con">
        <li v-for="(item, index) in 3" :key="index">我是谁，我在哪？？？？</li>
      </ul>
    </div>
    <el-select v-model="selectTest" filterable placeholder="请选择">
      <el-option
        v-for="(item, index) in data" :key="index" :label="item" :value="item">
      </el-option>
    </el-select>
    <!-- v-print 指定的dom打印 -->
    <div class="btn" v-print="'#print_con'">打印走起</div>
    <div class="download" @click="download">下载嘟嘟嘟</div>
    <div class="full" @click="fullScreen">全屏模式</div>
    <div class="exit" @click="exitScreen">退出全屏</div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      data: [],
      selectTest: ''
    }
  },
  created () {
    this.getData()
  },
  methods: {
    getData (val) {
      this.axios
        .get('https://test-api.fafuli.com/pointPlatformOrder/common/query/find_supplier_names')
        .then(res => {
          if (res.data.return_code === '00') {
            this.data = res.data.data.entities
            // this.data = rows.filter(item => item.match(this.selectTest)) // 前端filter和match模拟模糊查询
          }
        })
    },
    doPrint () {
      let newStr = document.getElementById('print_con').innerHTML
      console.log(newStr)
      document.body.innnerHTML = newStr
      let oldStr = document.body.innerHTML
      // 浏览器的打印方法，不过不能指定dom打印
      window.print()
      window.location.reload()
      document.body.innnerHTML = oldStr
      return false
    },
    download (id = 0) {
      // console.log(this.axios)
      // this.axios({
      //   method: 'post',
      //   url: '',
      //   data: {
      //     currentPage: 1,
      //     pageNum: 10,
      //     floorId: 1
      //   },
      //   responseType: 'arraybuffer'
      // }).then(res => {
      //   console.log(res)
      //   let blob = new Blob([res.data], {
      //     type: 'applocation/vnd.openxmlformats-offcedocument.spreadsheetml.sheet'
      //   })
      //   let url = URL.createObjectURL(blob)
      //   window.location.href = url
      // })
    },
    // 全屏
    fullScreen () {
      console.log('object')
      var el = document.documentElement
      var rfs =
        el.requestFullScreen ||
        el.webkitRequestFullScreen ||
        el.mozRequestFullScreen ||
        el.msRequestFullScreen

      if (typeof rfs !== 'undefined' && rfs) {
        rfs.call(el)
        return false
      }

      if (typeof window.ActiveXObject !== 'undefined') {
        /* eslint-disable */
        // ie
        var wscript = new ActiveXObject("WScript.Shell");
        if (wscript) {
          wscript.SendKeys("{F11}");
        }
      }
    },
    // 退出全屏
    exitScreen() {
      var el = document;
      var cfs =
        el.cancelFullScreen ||
        el.webkitCancelFullScreen ||
        el.mozCancelFullScreen ||
        el.exitFullScreen;
      if (typeof cfs !== "undefined" && cfs) {
        cfs.call(el);
        return false;
      }
      if (typeof window.ActiveXObject !== "undefined") {
        // ie
        var wscript = new ActiveXObject("WScript.Shell");
        if (wscript != null) {
          wscript.SendKeys("{F11}");
        }
      }
    }
  }
};
</script>
<style lang="scss" scoped></style>
