<template>
  <div>
    <p>单选框</p>
    <ul>
      <li v-for="(item,index) in radioList" :key="index" :class="selectedNum === index ? 'active' : ''" @click="select(index)">{{item}}</li>
    </ul>

    <p>多选框</p>
    <ul>
      <li v-for="(item,index) in checkboxList" :key="index" :class="checkbox.includes(index) ? 'active' : ''" @click="check(index)">{{item}}</li>
    </ul>
    <button @click="letsGetThisFuckingCheck">{{isCheckAll?'取消全选':'选择全部'}}</button>
    <button @click="checkOpposite">反选</button>

    <!-- 视频 -->
    <div class="linna_box">
      <video id="video" src="../../assets/video/weixin.mp4" controls="controls" autoplay loop playsinline=""  x-webkit-airplay="" webkit-playsinline="" x5-playsinline preload="auto">
        您的浏览器不支持 video 标签。
      </video>
      <div class="linna">linna是大沙雕</div>
    </div>

    <button @click="playVideo()">我知道了</button>
  </div>
</template>

<script>
export default {
  components: {},

  data () {
    return {
      selectedNum: 0,
      radioList: ['某个元素', '某个元素', '某个元素', '某个元素', '某个元素'],
      checkbox: [],
      checkboxList: ['某个元素', '某个元素', '某个元素', '某个元素', '某个元素', '某个元素', '某个元素']
    }
  },

  computed: {
    // 判断是否全部选中
    isCheckAll () {
      if (this.checkbox.length === this.checkboxList.length) {
        return true
      }
      return false
    }
  },

  methods: {
    // 单选
    select (i) {
      this.selectedNum = i
    },
    // 多选
    check (i) {
      var idx = this.checkbox.indexOf(i)
      console.log(idx)
      // 如果已经选中了，那就取消选中，如果没有，则选中
      if (idx > -1) {
        this.checkbox.splice(idx, 1)
      } else {
        this.checkbox.push(i)
      }
    },

    letsGetThisFuckingCheck () {
      if (this.isCheckAll) {
        this.clearCheckbox()
      } else {
        this.checkAll()
      }
    },
    // 选中全部
    checkAll () {
      var len = this.checkboxList.length
      this.checkbox = []
      for (var i = 0; i < len; i++) {
        this.checkbox.push(i)
      }
    },
    // 清空选择
    clearCheckbox () {
      this.checkbox = []
    },
    // 反选
    checkOpposite () {
      console.log(1)
      var len = this.checkboxList.length
      var idx
      for (var i = 0; i < len; i++) {
        idx = this.checkbox.indexOf(i)
        // 已经选中的删去，没选中的加进去
        if (idx > -1) {
          this.checkbox.splice(idx, 1)
        } else {
          this.checkbox.push(i)
        }
      }
    },
    playVideo () {
      var video = document.getElementById('video')
      video.play()
    }
  },
  mounted () {
    document.addEventListener('DOMContentLoaded', function () {
      function audioAutoPlay () {
        var audio = document.getElementById('h')
        audio.play()
        document.addEventListener('WeixinJSBridgeReady', function () {
          audio.play()
        }, false)
      }
      audioAutoPlay()
    })
    document.addEventListener('touchstart', function () {
      function audioAutoPlay () {
        var audio = document.getElementById('h')
        audio.play()
      }
      audioAutoPlay()
    })
  }
}
</script>
<style lang='scss' scoped>
li{
  display: inline-block;
  font-size: 16px;
  padding: 5px;
  background-color: #e6e6e6;
  margin: 5px 10px;
  cursor: pointer;
}
.active {
  border: 2px solid red;
}
.linna_box {
  position: relative;
  video {
    position: relative;
    width: vw(375);
  }
  .linna {
    position: absolute;
    top: 0;
    background-color: pink;
    z-index: 9999999999;
  }
}
</style>
