<template>
  <div class="about">
    <h1>This is an about page</h1>
    <h2 :is="isShow">柴小布分支</h2>
    <ul>
      <li v-for="tab in tabList" :key="tab.id" @click="tabShow(tab.id)">
        <p>{{ tab.dec }}</p>
        <transition name="fade" mode="in-out" >
          <ul class="del" v-show="showTab === tab.id">
            <li v-for="del in tab.delList" :key="del.id">
              <p>{{ del.del }}</p>
            </li>
          </ul>
        </transition>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  data () {
    return {
      tabList: [
        {
          id: 1,
          dec: '第一天',
          delList: [
            {
              id: 1,
              del: '我是第1个'
            },
            {
              id: 2,
              del: '我是第11个'
            }
          ]
        },
        {
          id: 2,
          dec: '第二天',
          delList: [
            {
              id: 1,
              del: '我是第二个'
            }
          ]
        },
        {
          id: 3,
          dec: '第三天',
          delList: [
            {
              id: 1,
              del: '我是第三个'
            }
          ]
        },
        {
          id: 4,
          dec: '第四天',
          delList: [
            {
              id: 1,
              del: '我是第四个'
            }
          ]
        }
      ],
      showTab: 1,
      view: 'v-a',
      isShow: false
    }
  },
  methods: {
    tabShow (id) {
      this.showTab = id
    }
  }
}
</script>
<style lang="scss" scoped>
ul,
li,
p {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
li {
  flex: 1;
  height: 30px;
  margin-right: 10px;
  background-color: pink;
}
.del {
  position: absolute;
  left: 0;
  top: 50px;
}
.del li {
  background-color: skyblue;
  line-height: 30px;
}

.fade-enter-active {        //类名：隐藏到显示过程所需要的时间
  animation: bounce-in .5s;
}
.fade-leave-active {        //类名：显示到隐藏过程所需要的时间
  animation: bounce-in .5s reverse;     //reverse表示和隐藏到显示动画相反
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

</style>
